@import url("./reset.css");



*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

header{
    position: fixed;
    width:100%;
    top: 0%;

}
.Logo{
    width: 150px;
    margin-left: 2px;

}
button:hover{
    box-shadow: #FF4B63 0px 22px 70px 4px;
    transition: all 0.2s ease;
    color: #FF4B63;
}
body{
    font-family: 'Open Sans', sans-serif;
    margin: 8px auto 8px auto;
    position: relative;
    background-color: #f7fafd;
}

.NavBar{
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    gap:2%;
    align-items: center;
    background-color: white;
    box-shadow: 0 1px 4px #92a1b026;
    padding: 1%;

}

.MainNav{
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items:center;
    width: 100%;
    list-style-type:none;
    gap: 3%;
    font-size: 20px;
    color: #2D2D2D;
    font-weight: bold;
}
#DownArrow{
    color: #2D2D2D;
    font-weight: bold;
}
.buttonDown{
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 50px;
    border-radius: 25px 25px 25px 25px;
    color: #FF4B63;
    border: 5px solid #FF4B63;
    font-weight: bolder;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
  }
 .buttonDown:hover{
    
    box-shadow: #FF4B63 0px 22px 70px 4px;
    transition: all 0.2s ease;
    color: #FF4B63;
 }

 
.banner{
    width: 100%;
    padding-top: 10%;
   
}
.GreenDiamond{
    width: 2%;
    height: 1%;
    float: left;
    padding: 0%;
 }
.YellowCircle{
    width: 2%;
    height: 2%;
    float: right;
    padding: 0%;
    
}
.Title{
    font-size: 100px;
    text-align: center;
}

#FirstParagraph{
    display: flex;
    justify-content: center;
    color: #6E6E6E;
    font-size: 35px;
    margin: 50px 200px 0px 200px;
    text-align: center;
}
.header_buttons{
    padding: 2%;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.button1{
    border-radius: 25px 25px 25px 25px;
    border: 2px solid #FF4B63;
    background-color: #FF4B63;
    color:rgb(255, 255, 255);
    padding: 10px 70px;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
   
}
.button1:hover{
    box-shadow: #FF4B63 0px 22px 70px 4px;
    transition: all 0.2s ease;
    color:white;
}
.button2{
    border-radius: 25px 25px 25px 25px;
    border: 2px solid #FF4B63;
    background-color: #FF4B63;
    color:rgb(255, 255, 255);
    padding: 10px 70px;
    display: flex;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}
.button2:hover{
    box-shadow: #FF4B63 0px 22px 70px 4px;
    transition: all 0.2s ease;
    color:white;
}

.iphoneimage{
    width: 100%;
    padding: 10%;
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 8px auto 8px auto
}
#iphone {
    display: flex;
    width: 75%;
    justify-content: center;
    justify-items: center;
    ;
   
}

.ContainerLogos{
    display: flex;
    flex-direction: row;
    gap:5%;
    justify-content: center;
    padding: 10%;
    font-weight: bold;
}
.rebote{
    border-radius: 50%;
    animation: rebote 2s infinite;
}
@keyframes rebote {
    20%, 40%, 60%, 80% {
        transform: translateY(0px);
      } 
      
      30% {
        transform: translateY(-150px);
      } 
      
      50% {
        transform: translateY(-100px);
      } 
      
      70% {
        transform: translateY(-40px);
      } 
      
      90% {
        transform: translateY(-20px);
      } 
}
#imagen1{
    background-color: #E8E3F9;
    height:100px;
    width:100px;
    border-radius:50px;
    display: flex;
    align-items: center;
    padding: 20%; 
}
 
#imagen2{
    background-color:#D5F2ED;
    height:100px;
    width:100px;
    border-radius:50px;
    display: flex;
    align-items: center;
    padding: 20%;
}

#imagen3{
    background-color: #F7E1E7;
    height:100px;
    width:100px;
    border-radius:50px;
    display: flex;
    align-items: center;
    padding: 20%;
}
#imagen4{
    background-color: #F7EFD9;
    height:100px;
    width:100px;
    border-radius:50px;display: flex;
    align-items: center;
    padding: 20%;
}
#imagen5{
    background-color: #DDF0F9;
    height:100px;
    width:100px;
    border-radius:50px;display: flex;
    align-items: center;
    padding: 20%;

}
.Container1S2{
    padding: 10%;
    display: flex;
    flex-direction:row;
    align-items: center;
    
}
#imagenArticulo{
    width: 2000px;
    height: 1200px;
    display: flex;
    justify-content: space-around;
    
}
.TitleFirstPart{
    margin-left: 10%;
    font-size: 50px;
    text-align: center;
    
}
#Paragraph1{
    
    text-align: left;
    margin-left: 10%;
    font-size: 30px;
    
}
.List-b2{
    font-size: 25px;
    list-style-type: square;
    color:#6E6E6E;
    text-align: left;
    margin-left: 10%;
    padding: 5%;
    line-height: 5ex;
}

.ContainerS2{
    background-color:#e8eff6;
    padding: 10%;
    display: flex;
    flex-direction:row;
    align-items: center;
}

#BotonesB1{
    display: flex;
    flex-direction:row;
    padding: 5%;
   
}
.Bloque1{
    display: flex;
    flex-direction: column;
}

.button3{
    border-radius: 25px 25px 25px 25px;
    border: 2px solid #FF4B63;
    background-color: #FF4B63;
    color:rgb(255, 255, 255);
    padding: 10px 70px;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10%;
}
.button3:hover{
    box-shadow: #FF4B63 0px 22px 70px 4px;
    transition: all 0.2s ease;
    color:white;

}
.button4{
    border: 2px solid #8F5CE3;
    background-color:#8F5CE3;
    color:rgb(255, 255, 255);
    padding: 20px 30px;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}
#imgReloj{
    width: 17px;
}
.button4:hover{
    box-shadow: #d8acf5 0px 22px 70px 4px;
    transition: all 0.2s ease;
    color:white;
}
.button5{
    border: 2px solid #F6F9FD;
    background-color: #F6F9FD;
    color: #6E6E6E;
    padding: 20px 30px;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
}
#imgLista{
    width: 17px;
}
.button6{
    border: 2px solid #F6F9FD;
    background-color: #F6F9FD;
    color: #6E6E6E;
    padding: 20px 30px;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
    
}
#imgCalendar{
    width: 17px;
}
#ImgDescription2{
    width: 630px;
    height: 630px;
    display: flex;
    justify-content: space-around;
}
.ParagraphB1{
    font-size: 30px;
    padding-bottom: 2%;
}

.List-b1{
    font-size: 25px;
    list-style-type: square;
    padding-bottom: 5%;
    padding-left: 5%;
    color:#6E6E6E;
    text-align: left;
          
}
.List-b1 li::marker{
    content:'✔';
    color: green;

}
.button7{
    border-radius: 25px 25px 25px 25px;
    border: 2px solid #FF4B63;
    background-color: #FF4B63;
    color:rgb(255, 255, 255);
    padding: 20px 80px;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}
.button7:hover{
    box-shadow: #FF4B63 0px 22px 70px 4px;
    transition: all 0.2s ease;
    color:white;
}
.button8{
    border-radius: 25px 25px 25px 25px;
    border: 4px solid #FF4B63;
    background-color: #F6F9FD;
    color: #FF4B63;
    padding: 20px 80px;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}

h2{
    text-align: center;
    font-size: 60px;
    padding-top: 5%;
    font-weight: bold;
}
#Stars{
    width: 150px;
    height: 150px;
}
.ContainerTestimonials{
    display: flex;
    justify-content: center;
    padding: 5%;
    gap: 100px;
    margin-left: 10%;
    margin-right: 10%;
}

.Testimony{
font-size: 20px;
text-align: center;
gap: 5px;

}
.Name{
font-weight: bold;
padding-top: 10%;
}
.ContainerCustomerlogos{
    display: flex;
    justify-content: center;
    gap: 30px;
    background-color: white;
    padding: 10%;
    margin: 0px 100px 0px 100px;
}
.CustomerLogo{
    width: 55%;
    display: flex;
    
}
.ContainerUserLogos{
    display: flex;
    justify-content: center;
    padding: 10%;
    background-color:#e8eff6;
    flex-direction: row;
    align-items: stretch;
    gap:5%;
    position: relative;
}
.Text{
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    margin-left: -50%;
}
.Text2{
    margin-left: -30%;
}

.DownloadIphone{
    width: 600px;
    display: flex;
    justify-items: center;
    padding: 10%;
    width: 100%;
}
.reboteOut{
    animation: reboteOut 1s infinite;
}
@keyframes reboteOut {
    25% {
    
        transform: scale(0.9);
      }
      
      50% {
         opacity: 1;
         transform: scale(1.1);
      }
    
      100% {
        
         transform: scale(0.0);
         opacity: 0;
        
      }
    
    }
    

#textIphone{
    text-align: center;
    font-size: 25px;
    padding-left: 10%;
    padding-right: 10%;
    color: #b1b2b4;
    font-weight:normal;
}
.FinalButtons{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 2.5%;
}
.button9{
    border-radius: 25px 25px 25px 25px;
    border: 2px solid #FF4B63;
    background-color: #FF4B63;
    color:rgb(255, 255, 255);
    padding: 20px 70px;
    display: flex;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
   
}
.button9:hover{
    box-shadow: #FF4B63 0px 22px 70px 4px;
    transition: all 0.2s ease;
    color:white;
}
.button10{
    border-radius: 25px 25px 25px 25px;
    border: 2px solid #FF4B63;
    background-color: #FF4B63;
    color:rgb(255, 255, 255);
    padding: 20px 70px;
    display: flex;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}
.button10:hover{
    box-shadow: #FF4B63 0px 22px 70px 4px;
    transition: all 0.2s ease;
    color:white;
}
footer{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 230px;

}

#titles{
    font-size: 20px;
    color:#b1b2b4;
    font-weight: bold;
    
}
.ContactList{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    justify-items: center;
    color:#b1b2b4;
}
.ContactInfo{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    justify-items: center;
    margin-left: 2%;
    color:#b1b2b4;
}
#maps{
    width: 20px;
}
.ValueLinks{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color:#b1b2b4;
   
}
#envelope{
    width: 20px;
}
.OtherApps{
    display: flex;
    flex-direction: column;
    font-size: 20px;
}
#phone{
    width: 20px;
}
.AppsLogos{
    width:12% ;
    height: 12%;
    display: flex;
    justify-content: right;
}
#Copy{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color:#b1b2b4;
    padding: 1%;
}